<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <% value.forEach(obj => { %>
            <li><img src=' <%= obj.img %>'  alt=""></li>
            <li>title: <%= obj.title %> </li>
            <li>authors: <%= obj.authors %></li>
            <li>description: <%= obj.description %></li>
           <% })  %>
           
    </header>
</body>
</html>